<form method="POST">
    {{ csrfField() }}
    <input name="title" id="title" placeholder="Enter Title.."><br>
    <textarea name="content" rows=10 id="content" placeholder="Enter Content (html).."></textarea>
    <button type="submit">Submit</button>
</form>