<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>My Blog</h1>
                    <hr width="50%">
                </div>
            </div>
            @each(post in posts)
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4>{{ post.title }}<br></h4>
                        <em class="text-muted">{{ post.created_at }}</em>
                    </div>
                    <div class="col-md-12">
                        {{ post.content }}
                        <hr width="50%">
                    </div>
                </div>
            @endeach
        </div>
    </body>
</html>